# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/
*.sage-jupyter

# Dados e artefatos (não subir!)
data/raw/*
data/clean/*
!data/raw/.gitkeep
!data/clean/.gitkeep

outputs/*
!outputs/.gitkeep

# Modelos pesados
*.joblib
*.pkl
*.h5

# SO/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/