# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/
*.sage-jupyter

# Modelos pesados
*.joblib
*.pkl
*.h5

# SO/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/